@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200;300;400;700&display=swap');

:root {
  --bg: #f5f8fb;
  --blue: #3293f0;
  --black: #393e5a;
  --gray: #525668;
  --dark-blue: #256EB3;
  --shadow: 0 7px 15px rgba(57,147,240,0.3);
}

* {
  font-family: 'Noto Sans Display', Sans-Serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  border: none; outline: none;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  transition: width none;
  color: var(--black);
  background: var(--bg);
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: var(--bg);
}

html::-webkit-scrollbar-thumb {
  background: var(--black);
}

header {
  background: var(--bg);
  padding: 2rem 7%;
}

header .header-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg);
  transition: none;
}

.logo {
  font-size: 2.5rem;
}

.logo i {
  color: var(--blue);
  display: inline-block;
  margin-right: 4px;
}

header a {
  color: var(--black);
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.5rem;
}

#nav-btn {
  font-size: 1.8rem;
  margin-left: 1rem;
  display: none;
}

#nav-btn:hover {
  color: var(--blue);
}

.header-1.active {
  position: fixed;
  z-index: 200;
  box-shadow: 0 3px 12px rgba(0,0,0,0.1);
  top: 0;
  left: 0;
  right: 0;
  padding: 1.4rem 7%;
  transition: none;
}

header .navbar a:hover {
  border-bottom: 1px solid var(--black);
}

.btn {
  background: var(--blue);
  padding: 0.8rem 1.6rem;
  color: #fff;
  border-radius: 3px;
}

.btn:hover {
  background: var(--dark-blue);
}

header .header-2 {
  margin: 4rem 0;
  display: flex;
  flex-wrap: wrap;
}

header .header-2 .content {
  flex-basis: 50%;
}

header .header-2 .content h1 {
  font-size: 3.5rem;
  margin-bottom: 1.7rem;
}

header .header-2 img {
  width: 30rem;
  flex-basis: 50%;
  display: block;
  margin: 0 auto;
}

header .header-2 .content .btn {
  display: inline-block;
  margin: 3rem 0;
  box-shadow: var(--shadow);
}

header .header-2 .content p {
  font-size: 1.3rem;
}

.call {
  color: var(--blue);
}

.call i {
  display: inline-block;
  margin-right: 4px;
}

header .navbar .btn {
  display: none;
}

header .header-3 .box {
  background: #fff;
  padding: 1.3rem;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(50, 147, 240, 0.1);
  flex-basis: 15%;
  text-align: center;
  position: relative;
  overflow-y: hidden;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

header .header-3 .more {
  flex-basis: 13%;
}

header .header-3 .box:hover {
  background: var(--blue);
  color: #fff;
}

header .header-3 .box .icon {
  position: absolute;
}

header .header-3 .box:hover .icon {
  bottom: 50px;
}

header .header-3 .box .icon img {
  width: 8rem;
  margin: 0 auto;
  display: block;
}

header .header-3 .box i {
  position: absolute;
  font-size: 1.5rem;
  bottom: -20px;
}

header .header-3 .box:hover i {
  bottom: 20px;
}

header .header-3 .box:hover img {
  filter: invert(100%);
}

header .header-3 .box p {
  font-size: 1.8rem;
}

.row {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

header .header-3 h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

header .header-3 .more {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

header .header-3 .more h3 {
  color: var(--blue);
  padding-bottom: 0;
  margin-bottom: 0;
}

header .header-3 .more p {
  font-size: 1.3rem;
  margin-top: 0;
  padding-top: 0;
}

#doctors {
  background: #fff;
  padding: 4rem 7%;
}

#doctors .content {
  flex-basis: 43%;
}

#doctors img {
  flex-basis: 43%;
  width: 20%;
  display: block;
  margin-left: auto;
  border-radius: 5px;
}

#doctors .content h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

#doctors .content p {
  font-size: 1.3rem;
  margin-bottom: 1.8rem;
  line-height: 1.5;
}

#doctors .content .btn {
  display: inline-block;
  margin-top: 2rem;
}

#stats {
  padding: 4rem 7%;
  background: var(--bg);
  text-align: center;
}

#stats .row {
  justify-content: space-between;
}

#stats .box h3 {
  font-size: 3rem;
  color: var(--blue);
}

#stats .box span {
  font-size: 1.5rem;
}

#services {
  padding: 3rem 7%;
  background: rgba(255,255,255,0.7);
}

#services .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
}

#services .card img {
  width: 100%;
}

#services .card {
  background: #fff;
  border-radius: 4px;
  flex-basis: 32%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.07);
}

#services .card .content {
  padding: 1.2rem;
}

#services h3 {
  font-size: 3rem;
  text-align: center;
  margin: 3rem 0;
}

#services h4 {
  font-size: 1.3rem;
  margin-bottom: 0.7rem;
}

#services p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.outline-btn {
  background: transparent;
  border: 1px solid var(--blue);
  padding: 0.8rem 1.6rem;
  color: #fff;
  border-radius: 3px;
  color: var(--blue);
}

.outline-btn:hover {
  background: var(--blue);
  color: #fff;
}

#services .outline-btn {
  display: inline-block;
  margin-bottom: 1.3rem;
}

#contact {
  padding: 4rem 7%;
}

#contact .content h3{
  font-size: 3rem;
  margin-bottom: 1.2rem;
}

#contact .content {
  flex-basis: 53%;
}

#contact img {
  flex-basis: 43%;
  width: 20%;
  display: block;
  margin-right: auto;
}

#contact .content p {
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

#contact .row {
  justify-content: flex-start;
  margin-bottom: 1rem;
}

#contact #name {
  flex-basis: 47%;
}

#contact #gender {
  flex-basis: 47%;
}

#contact #email {
  flex-basis: 47%;
}

#contact #date {
  flex-basis: 47%;
}

#contact select, #contact input {
  background: #fff;
  width: 100%;
  padding: 0.8rem 1.3rem;
}

#contact button {
  margin-top: 2rem;
}

#talk {
  background: #fff;
  padding: 4rem 7%;
}

#talk span {
  font-size: 12rem;
  color: var(--blue);
  transform: translateY(-30px);
}

#talk p {
  font-size: 1.3rem;
  flex-basis: 30%;
}

#talk h3 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

#talk > .row {
  align-items: center;
}

#talk .user {
  transform: translateY(-60px);
}

#talk .user img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}

#talk .user .name h4 {
  font-size: 1.6rem;
}

footer {
  background: var(--black);
  padding: 4rem 7%;
  color: #fff;
}

footer a, footer span {
  color: #fff;
  display: block;
  font-size: 1.3rem;
  margin: 0.8rem 0;
}

footer a:hover, footer span:hover {
  color: var(--blue);
}

footer .col-1, footer .col-2, footer .col-3 {
  flex-basis: 20%;
}

footer .col-4 {
  flex-basis: 32%;
}

footer .row {
  justify-content: flex-start;
}

footer p {
  font-weight: bold;
  margin-bottom: 1.7rem;
  font-size: 1.5rem;
}

footer .logo {
  margin-bottom: 2rem;
  display: inline-block;
}

footer i {
  display: inline-block;
  margin-right: 5px;
}

footer input {
  padding: 0.5rem 1rem;
  text-transform: none;
  border-radius: 4px;
  width: 70%;
}

footer .btn {
  padding: 0.5rem 1rem;
}

footer form {
  margin-top: 1rem;
}

footer .name {
  text-align: center;
  display: block;
  margin-top: 4rem;
}

footer .name span {
  color: var(--blue);
  display: inline-block;
}



/* media screen */
@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
  
  #nav-btn {
    display: block;
    font-size: 3rem;
  }
  
  header .header-1 .navbar {
    position: fixed;
    left: -600px;
    top: 0;
    z-index: 100;
    width: 30rem;
    height: 100%;
    background: #fff;
  }
  
  header .header-1 .navbar.active {
    left: 0;
  }
  
  header .header-1 .navbar a {
    display: block;
    margin: 1.7rem;
    padding: 0.7rem;
  }
  
  header .header-1 .navbar a:hover {
    padding-bottom: 0;
  }
  
  header .header-1 .navbar a:hover {
    background: var(--blue);
    color: #fff;
    border-bottom: none;
    padding-bottom: 0;
  }
  
  header .header-2 img {
    width: 4rem;
  }
  
  header .navbar .btn {
    display: inline-block;
    text-align: center;
  }
  
  header .login .btn {
    display: none;
  }
  
  header .header-2 .content {
    flex-basis: 100%;
  }
  
  header .header-2 img {
    flex-basis: 100%;
  }
  
  header .header-2 .content h1 {
    font-size: 5.2rem;
  }
  
  header .header-2 .content p {
    font-size: 2rem;
  }
  
  header .header-3 .box, header .header-3 .more {
    flex-basis: 48%;
  }
  
  header .header-3 h3 {
    font-size: 3.5rem;
    margin: 3rem 0;
  }
  
  header .header-3 .more p{
    font-size: 2.8rem;
  }
  
  header .header-3 .more h3 {
    font-size: 6rem;
  }
  
  header .header-3 .box p, header .header-3 .box i {
    font-size: 3rem;
  }
  
  header .header-3 .icon img {
    width: 15rem;
  }
  
  #contact .content {
    flex-basis: 100%;
  }
  
  #contact img {
    width: 80%;
    margin: 0 auto;
  }
  
  footer .col-1, footer .col-2, footer .col-3, footer .col-4 {
    flex-basis: 47%;
  }
  
  footer input {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  header .header-3 .box, header .header-3 .more {
    flex-basis: 47%;
  }
  
  header .header-3 .box p, header .header-3 i{
    font-size: 1.8rem;
  }
  
  #doctors img {
    flex-basis: 60%;
    margin: 0 auto;
    margin-top: 3rem;
  }
  
  #doctors .content {
    flex-basis: 100%;
  }
  
  #stats .box {
    flex-basis: 47%;
  }
  
  #talk .user {
    transform: translateY(-50px);
  }
  
  #talk .content p {
    flex-basis: 70%;
  }
  
  footer .col-1, footer .col-2, footer .col-3, footer .col-4 {
    flex-basis: 100%;
  }
  
  footer .logo {
    font-size: 5rem;
  }
  
  footer p {
    font-size: 1.8rem;
  }
  
  footer span, footer a {
    font-size: 1.4rem;
  }
  
  footer input {
    width: 70%;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 70%;
  }
  
  header .header-2 .content h1 {
    font-size: 4rem;
  }
  
  header .header-2 .content p {
    font-size: 2rem;
  }
  
  #doctors .content h3 {
    font-size: 4rem;
  }
  
  #doctors .content p, #doctors .content a {
    font-size: 2rem;
  }
  
  #stats .box span {
    font-size: 2rem;
  }
  
  #services .card h4, #services .card p {
    font-size: 2rem;
  }
  
  #contact .content p, #contact .content a {
    font-size: 2rem;
  }
  
  #contact h3 {
    font-size: 4rem;
  }
  
  #services h3 {
    font-size: 4rem;
  }
  
  #talk h3 {
    font-size: 4rem;
  }
  
  #talk .content p {
    font-size: 2rem;
  }
  
  #talk .user {
    transform: translateY(0);
  }
  
  #talk .user .name h4 {
    font-size: 2rem;
  }
  
  #talk .user .name p {
    font-size: 1.7rem;
  }
  
  #talk img {
    width: 12rem;
    height: 12rem;
  }
}